# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
dist/
build/

# Virtualenv
.venv/
venv/

# OS / editor
.DS_Store
.idea/
.vscode/

# Local fixtures / artifacts
fixtures/
*.sqlite
*.db
.env

# Android / Gradle
**/.idea/
**/.gradle/
**/build/
**/*.iml
local.properties

# Keystore Files
*.jks
*.keystore
